{% extends '::base.html.twig' %}

{% block content %}

    <h1 class="page-header">
        <i class="fa fa-edit text-muted"></i>
        {{ form.vars.data.id ? '#'~form.vars.data.id~' '~form.vars.data : ('author.add'|trans) }}
    </h1>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}
