{% extends '::base.html.twig' %}

{% block content %}

    <h1 class="page-header">
        <i class="fa fa-copy text-muted"></i>
        {{ 'article.name_plural'|trans }} ({{ items.getTotalItemCount }})
    </h1>

    {% if items|length == 0 %}
        <div class="alert alert-warning">{{ 'common.list_is_empty'|trans }}</div>
    {% else %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'article.title'|trans }}</th>
                    <th>{{ 'article.authors'|trans }}</th>
                    <th>{{ 'common.created_at'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>

                {% for i in items %}
                    <tr>
                        <td>
                            <a class="badge" href="{{ path('article.item', { id: i.id }) }}">
                                {{ i.id }}
                            </a>
                        </td>
                        <td>{{ i.title }}</td>
                        <td class="text-muted"><em>
                                {% for a in i.authors %}
                                    {{ a.firstName }} {{ a.lastName }}<br/>
                                {% endfor %}</em>
                        </td>
                        <td>{{ i.createdAt|date('Y-m-d H:i') }}</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="{{ path('article.item', { id: i.id }) }}">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {{ knp_pagination_render(items) }}

    {% endif %}

{% endblock %}
